$white: #ffffff;
$primary: #544d9b;
$secondary: #ff6724;
$accent: #a9aaad;
$purple: #393655;

.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo-section {
    width: 170px;
    padding-left: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .logo {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: $secondary;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      div {
        width: 70%;
        height: 70%;
        background-color: $white;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
      }

      .mask {
        position: absolute;
        top: 1px;
        left: 10%;
        width: 80%;
        height: 50%;
        z-index: 2;
        background-color: $secondary;
        border-top-left-radius: 300%;
        border-top-right-radius: 300%;
      }
    }

    span {
      color: $secondary;
      font-size: 20px;
      font-weight: 700;
    }

    .title {
      color: $primary;
      font-weight: 700;
    }
  }

  .menu-section {
    width: 42%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: $purple;
      font-weight: 600;
      font-size: 14px;
    }

    .account {
      width: 150px;
      border-radius: 15px;
      height: 45px;
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      margin-right: 70px;
    }
  }
}

.banner {
  height: calc(100vh - 100px);
  position: relative;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .scroll {
    position: absolute;
    bottom: 50px;
    right: 100px;
    color: $accent;
    font-size: 14px;
  }

  .dots {
    position: absolute;
    bottom: 60px;
    left: calc((100vw / 2) - 40px);
    width: 80px;
    display: flex;
    justify-content: space-between;

    div {
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: $accent;
      cursor: pointer;
    }

    .active {
      background-color: $white;
    }
  }

  .banner-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 42%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-1 {
    padding-top: 50px;

    p {
      font-size: 60px;
      font-weight: bolder;
      color: $purple;
      line-height: 5px;
    }

    span {
      font-size: 60px;
      font-weight: bolder;
      color: $secondary;
    }
  }

  hr {
    width: 13%;
    border: 1px solid $secondary;
    margin-right: 100%;
  }

  .section-2 {
    margin-top: 20px;

    p {
      color: $accent;
      line-height: 10px;
    }
  }

  .section-3 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
      font-weight: bold;
      color: $purple;
      margin-left: 20px;
    }
  }
}
